body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#574aaa, #191970);
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.topo{
    height: 150px;
    text-align: center; 
}

.topo label{
    display:block;
    padding: 50px 0px;
    font-size: 40px;
    font-weight: bolder;
}

#insira{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

#exemplos{
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.input{
    text-align: center;
    padding: 0px 20px 20px 20px;
}

#valorInput {
    font-weight: bold;
    text-align: center;
}

#unidAL {
    font-weight: bold;
}

#unidKm{
    font-weight: bold;
}

#valorConvertido{
    font-weight: bold;
    text-align: center;
}

.imagem #imagem{
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.imagem #sobre{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    padding: 20px 20px;
}

.imagem #explicacao{
    text-align: justify;
    padding: 20px 50px 0px 20px;
}

.imagem #copyrigth a{
    color:white;
}

footer{
    height: 100px;
    text-align: center;
}

footer hr{
    border-color:#00008B;
}

footer #criador{
    display: block;
    padding: 15px 0px 10px 10px;
}

footer a{
    display: inline-block;
    color: #FFFFFF;
    padding: 0px 0px 2px 10px;
}
